.modal__container {
  width: 430px;
  height: 380px;

  background-color: #ffffff;
  border-radius: 16px;

  padding: 34px 36px 28px;
  box-sizing: border-box;
  position: relative;
}

.login-form__content {
  height: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.login-form__title {
  font-weight: 900;
  font-size: 24px;
  line-height: 1.2;
  height: 32px;
  margin: 0 0 22px;
}

.login-form__field {
  display: flex;
  flex-direction: column;
  gap: 9px;

  width: 358px;
  margin-bottom: 31px;
}

.login-form__label {
  color: rgba(47, 113, 229, 1);
  font-size: 12px;
  line-height: 1;
}

.login-form__input {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  opacity: 20%;

  font-size: 14px;
  line-height: 1.2;
  padding-bottom: 10px;

  background: transparent;
  outline: none;
}

.login-form__error {
  font-weight: 400;
  font-size: 12px;
  line-height: 1;
  color: rgba(255, 0, 0, 1);
}

.login-form__buttons {
  margin-top: auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.login-form__submit {
  width: 360px;
  height: 64px;
  font-size: 18px;
  font-weight: 500;
  border: none;

  color: rgba(182, 188, 191, 1);
  cursor: not-allowed;
  transition: background-color 0.3s ease;
  border-radius: 100px;
}

.login-form__submit_active {
  background-color: rgba(47, 113, 229, 1);
  color: white;
  cursor: pointer;
}

.login-form__secondary {
  cursor: pointer;
  border: none;
  background: none;
}

.login-form__secondary-link {
  cursor: pointer;
  color: rgba(47, 113, 229, 1);
}

@media (max-width: 768px) {
  .modal__container {
    width: 430px;
    max-width: calc(100% - 32px);
    height: auto;
  }

  .login-form__field,
  .login-form__submit {
    width: 100%;
  }

  .modal__close-button {
    top: 12px;
    right: 12px;
  }
}

@media screen and (max-width: 320px) {
  html:has(.modal_open),
  body:has(.modal_open) {
    overflow: hidden;
    height: 100%;
  }

  .modal {
    display: flex;
    justify-content: center;
    align-items: flex-start;

    height: 100vh;
    padding: 56px 0 0;
    overflow: hidden;
  }

  .modal__container {
    width: 320px;
    height: 520px;
    max-width: 320px;

    padding: 24px 16px;
    box-sizing: border-box;

    border-radius: 16px 16px 0 0;
    overflow: hidden;

    position: static;
  }

  .modal__close-button {
    position: absolute;
    top: 16px;
    right: 16px;

    width: 24px;
    height: 24px;

    z-index: 10001;
  }

  .modal__close-button img {
    width: 24px;
    height: 24px;
    filter: none !important;
    fill: white;
    color: white;
  }

  .login-form__content {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .login-form__field {
    width: 100%;
    margin-bottom: 22px;
  }

  .login-form__input {
    width: 100%;
  }

  .login-form__buttons {
    margin-top: auto;
    gap: 14px;
  }

  .login-form__submit {
    width: 100%;
    height: 56px;
  }
  .modal {
    background-color: transparent;
  }
  body:has(.modal_open) .menu-bar {
    display: none;
  }
}
